
body {
    margin: 0;
    padding: 0;

}

.menu-principal {
    width: 100%;
    background-color: #53364A;
    height: 90px;
    
}

main {
    margin: 0 auto;
    width: 1500px;
    position: relative;
}


.logo {
    margin-top: 5px;
    float: left;
    padding: 3px;
    width: 15%;
    
}

.bar ul li {
    margin-left: 30px;
    margin-top:-60px;
    padding-right: 180px;
    zoom: 7%;
    display: inline-block;
    list-style: none;
}

.bar {
    width: 1/3;
    float: right;
    margin-top: 20px;
    
}

.menu-urls {
    height: 60px;
    border-bottom: 3px solid #efefef;
    
}

.menu ul li {
    margin-left: 33px;
    color: #424242;
    display: inline-block;
    height:41px;
}
.menu ul li:hover {
    border-bottom: 2px solid#e37a3d;
}
.menu ul li a:hover{
    color: #e37a3d;
}

.menu ul li a {
    color: #424242;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu {
    width: 1500px;
    margin: 0 auto;
    margin-left: 140px;
    margin-top: 20px;
}

.search {
    width: 30%;
    float: left;
    text-align: center;
}

.search input {
    background-image: url('../img/Search-Icon.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-top: 27px;
    width: 1000px;
    margin-left: 30px;
    height: 30px;
    float: middle;
    border-color: #e37a3d;
    border-style: solid;
    border-width: 3px;
    border-radius: 7px;
}

.col-100 {
    width: 100%;
    height: 60px;
    float: left;
    position: relative;
}

.ul {
    padding: 0 !important;
}
.CardList {
  flex-direction: row;
  flex-wrap:wrap; /* Allow cards to wrap to the next line if needed */
  justify-content: left; /* Space between cards */
  margin: 20px auto; /* Adjust margin for centering */
  width: 1500px;
  display: flex;
}

.card {
  margin: 20px;
  position: relative; 
  float:left;
  width: 11.875em;
  height: 16.5em;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
}
  
  .card::after {
    content: "Ver mais detalhes";
    padding-top: 1.25em;
    padding-left: 1.25em;
    position: absolute;
    left: 0;
    bottom: -60px;
    background: #e37a3d;
    color: #fff;
    height: 2.5em;
    width: 90%;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
  }
  
  .card .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 400;
    color: #000;
  }
  
  .card .price {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 0.625em;
    color: #000;
  }
  
  .card:hover::after {
    bottom: 0;
    opacity: 1;
  }
  
  .card:active {
    transform: scale(0.98);
  }
  
  .card:active::after {
    height: 3.125em;
  }
  
  .text {
    max-width: 55px;
  }
  
  .image {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }